<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Dettagli Pizze')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizze')"></nav>
<div class="container">
    <h2 th:text="${pizza.name}"></h2>
    <h2> Ecco i dettagli </h2>
    <p> descrizione: <span th:text="${pizza.description}"></span></p>
    <img th:src="${pizza.foto}" alt="foto">
    <div>
        <a th:href="@{/pizze}" class="btn btn-primary"> Back to list </a>
    </div>
</div>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>